[MASTER]
init-hook='import sys; sys.path.append("C:/Users/marca/projeto_felipe/gerenciador_de_despesas/backend")'
ignore=__pycache__,env.sh, test

[MESSAGES CONTROL]
disable=
    C0103,
    C0111,

[FORMAT]
max-line-length=100

[IMPORTS]
init-hook='import sys; sys.path.append("C:/Users/marca/projeto_felipe/gerenciador_de_despesas/backend")'
